<%- include('../partials/head')-%>
<main class="login-pag" id="login" style="background-image: url(../../images/bride_64.jpg)" >

  <div class="container login_page mt-2">
    <div class="col-sm-12">
      <div class="car backgroun">
        <div class="card-body mt-3">
          <h2 class="mb-4 text-center text ">Reserve a Seat</h2>
          <%- include('../partials/message')-%>
        
          <form action="/edit/<%= event.id %>" method="POST" class="backgroun">
            
            <div class="form-group" style="width: 100%;">
              <input required type="text" name="name" class="input_form form-control" style="width: 100%;" value="<%= event.name %>" >
            </div>
           
            <div class="form-group" style="width: 100%;">
              <input type="email" name="email" class="input_form form-control" style="width: 100%;" value="<%= event.email %>" >
            </div>

            <div class="form-group" style="width: 100%;">
              <input type="text" name="category" class="input_form form-control" style="width: 100%;" value="<%= event.category %>" >
            
            </div>
            <div class="form-group" style="width: 100%;">
              <input required type="number" name="number" class="input_form form-control" style="width: 100%;" value="<%= event.number %>">
            </div>

            
            <button class="btn butt btn-block mt-4"  type="submit">
              Save</button><br>
              <a href="/dash" class="btn btn-block ">Cancel</a>
            
          </form>
        </div>
        
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer')-%>